<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Component Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header/header' %>
    <main class="main-content">

    </main>
    
  </body>
</html>